<div class="container" >
    <h1>Modificar Coche</h1>
    <a href="#" routerLink="/coche/list" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">
    
      <div class="form-group">
        <label for="id">ID:</label>
        <input formControlName="id" id="id" type="number" [(ngModel)]="nuevoCoche.id" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input formControlName="modelo" id="modelo" type="text" [(ngModel)]="nuevoCoche.modelo" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="motor">Motor:</label>
        <textarea formControlName="motor" id="motor" type="text" [(ngModel)]="nuevoCoche.motor" class="form-control"></textarea>
      </div>

        <div class="form-group">
          <label for="ano">Año:</label>
          <textarea formControlName="ano" id="ano" type="number" [(ngModel)]="nuevoCoche.ano" class="form-control"></textarea>
      </div>
  
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>