<h2>Lista coches</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Motor</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coche of coches">
            <td>{{coche.id}}</td>
            <td>{{coche.modelo}}</td>
            <td>{{coche.motor}}</td>
            <td>{{coche.ano}}</td>
            <button type="button" class="btn btn-success" (click)="verCoche(coche)">Ver</button>
            <button class="btn btn-primary" (click)="updateCoche(coche.id)">Editar</button>
            <button class="btn btn-danger" (click)="deleteCoche(coche.id)">Eliminar</button>
        </tr>
    </tbody>
</table>