<div class="container">
    <h1>Ejemplo CRUD-Proyecto</h1>
  
    <a href="#" routerLink="/peticion/create/" class="btn btn-success">Create New Post</a>
  
    <div *ngFor="let pieza of piezas" class="row">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="image.jpg" />
          <!-- Sustituir despues {{pet.image ??}}-->
          <div class="card-body">
            <h4 class="card-title">{{ pieza.nombre }}</h4>
            <p class="card-text">{{ pieza.descripcion }}</p>
  
            <!--a href="#" [routerLink]="['/pieza/', pieza.id, 'view']" class="btn btn-danger">Entrar</a>
            <a href="#" [routerLink]="['/peticion/', pet.id, 'edit']" class="btn btn-danger" >Edit</a-->

            <button type="button" class="btn btn-danger" (click)="onOpenModal(pieza,'edit')">Edit 2</button>
            <button type="button" (click)="deletePieza(pieza.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="AutorEditModalLabel" aria-hidden="true" *ngIf="nuevaPieza" id = "updateAutorModal">
      <h1>Update Pieza</h1>
      <a href="#" routerLink="/pieza/indexPieza" class="btn btn-primary">Back</a>
      
      <form >[formGroup]="form"
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <textarea formControlName="descripcion" id="descripcion" type="text"  class="form-control">[(ngModel)]="nuevaPieza.descripcion"
          </textarea>
          <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="alert alert-danger">
            <div *ngIf="f['descripcion'].errors && f['descripcion'].errors['required']">Descripcion obligatoria.</div>
          </div>
        </div>

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <textarea formControlName="nombre" id="nombre" type="text"  class="form-control">[(ngModel)]="nuevaPieza.nombre"</textarea>
            <div *ngIf="f['destinatario'].touched && f['destinatario'].invalid" class="alert alert-danger">
              <div *ngIf="f['destinatario'].errors && f['destinatario'].errors['required']">Nombre obligatorio.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="coche_id">Coche</label>
          <select formControlName="coche_id" id="coche_id" type="text" class="form-control">
              <option *ngFor="let coche of coches" >{{coche.modelo}}</option>[ngValue]="coche.id"
          </select>
          <div *ngIf="f['coche_id'].touched && f['coche_id'].invalid" class="alert alert-danger">
              <div *ngIf="f['coche_id'].errors && f['coche_id'].errors['required']">Coche obligatorio.</div>
          </div>
        </div>
    
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)="updatePieza(nuevaPieza)">
          Update
        </button>
      </form>
  </div>
