<div class="container">
    <h1>CRUD Recambio Verde</h1>
  
    <a href="#" routerLink="/coche/create/" class="btn btn-success">Crear nuevo coche</a>
  
    <div *ngFor="let coche of coches" class="row">
      <div class="col-md">
        <div class="card">
          <!-- Sustituir despues {{pet.image ??}}-->
          <div class="card-body">
            <h4 class="card-title">{{ coche.modelo }}</h4>
            <p class="card-text">{{ coche.motor }}</p>
  
            <!--a href="#" [routerLink]="['/coche/', coche.id, 'view']" class="btn btn-danger">Entrar</a>
            <a href="#" [routerLink]="['/coche/', coche.id, 'edit']" class="btn btn-danger">Edit</a-->
            <button type="button" class="btn btn-danger" (click)="onOpenModal(coche,'edit')">Edit 2</button>
            <button type="button" (click)="deleteCoche(coche.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="AutorEditModalLabel" aria-hidden="true" *ngIf="newCoche" id = "updateAutorModal">
      <h1>Update Coche</h1>
      <a href="#" routerLink="/coche/index" class="btn btn-primary">Back</a>

      <form >[formGroup]="form"
      
        <div class="form-group">
          <label for="modelo">Modelo:</label>
          <input formControlName="modelo" id="modelo" type="text"  class="form-control"/>[(ngModel)]="newCoche.modelo"
          <div *ngIf="f['modelo'].touched && f['modelo'].invalid" class="alert alert-danger">
            <div *ngIf="f['modelo'].errors && f['modelo'].errors['required']">Modelo obligatorio</div>
          </div>
        </div>

        <div class="form-group">
          <label for="motor">Motor:</label>
          <textarea formControlName="motor" id="motor" type="text" class="form-control">[(ngModel)]="newCoche.motor" </textarea>
          <div *ngIf="f['motor'].touched && f['motor'].invalid" class="alert alert-danger">
            <div *ngIf="f['motor'].errors && f['motor'].errors['required']">
              Motor obligatorio
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="ano">Año:</label>
            <textarea formControlName="ano" id="ano" type="number"  class="form-control">[(ngModel)]="newCoche.ano"</textarea>
            <div *ngIf="f['ano'].touched && f['ano'].invalid" class="alert alert-danger" >
              <div *ngIf="f['ano'].errors && f['ano'].errors['required']" >
                Año obligatorio
              </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)="updateCoche(newCoche)">
          Update
        </button>
      </form>
  </div>