<div class="container">
    <h1>Crear un nuevo coche</h1>
    
    <a href="#" routerLink="/coche/index" class="btn btn-primary">Back</a>

    <form  (ngSubmit)="submit()">[formGroup]="form"
      
        <div class="form-group">
          <label for="modelo">Modelo:</label>
          <input formControlName="modelo" id="modelo" type="text" class="form-control">
          <div *ngIf="f['modelo'].touched && f['modelo'].invalid" class="alert alert-danger">
            <div *ngIf="f['modelo'].errors && f['modelo'].errors['required']">Modelo obligatorio</div>
          </div>
        </div>

        <div class="form-group">
          <label for="motor">Motor:</label>
          <input formControlName="modelo" id="modelo" type="text" class="form-control">
          <div *ngIf="f['motor'].touched && f['motor'].invalid" class="alert alert-danger">
            <div *ngIf="f['motor'].errors && f['motor'].errors['required']">
              Motor obligatorio
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="ano">Año:</label>
            <input formControlName="modelo" id="modelo" type="text" class="form-control">
            <div *ngIf="f['ano'].touched && f['ano'].invalid" class="alert alert-danger" >
              <div *ngIf="f['ano'].errors && f['ano'].errors['required']" >
                Año obligatorio
              </div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="submit()" type="submit">Submit</button>

    </form>
</div>