<div class="container">
    <h1>Crear Pieza</h1>
   
    <a href="#" routerLink="/pieza/indexPieza" class="btn btn-primary">Back</a>
         
    <form  (ngSubmit)="submit()">[formGroup]="form"
   
        <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input formControlName="descripcion" id="descripcion" type="text" class="form-control">
            <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="alert alert-danger">
                <div *ngIf="f['descripcion'].errors && f['descripcion'].errors['required']">Descripción obligatoria.</div>
            </div>
        </div>
   
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <textarea formControlName="nombre" id="nombre" type="text" class="form-control"></textarea>
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">Nombre obligatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="coche_id">Coche</label>
            <select
                formControlName="coche_id"
                id="coche_id"
                type="text"
                class="form-control">
                <option *ngFor="let coche of coches">{{coche.modelo}}</option>
                
            </select>
            <div *ngIf="f['coche_id'].touched && f['coche_id'].invalid" class="alert alert-danger">
                <div *ngIf="f['coche_id'].errors && f['coche_id'].errors['required']">Coche obligatorio.</div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="submit()" type="submit" >Submit</button>
    </form><!--[disabled]="!form.valid"-->
</div>